.scroll-container__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  max-width: 370px;
  margin: 0 auto;
}
.scroll-container__loader {
  text-align: center;
  color: var(--secondary-color);
  font-style: italic;
  font-weight: 400;
  font-size: 1.2em;
}
.scroll-container__not-content {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.2em;
}
.scroll-container__button {
  background-color: var(--secondary-color);
  color: var(--light-color);
  border: none;
  padding: .5rem 1rem;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
.scroll-container__reference {
  height: 40px;
}
@media screen and (min-width: 640px) {
  .scroll-container__grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .scroll-container__grid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
  }
}
@media screen and (min-width: 1440px) {
  .scroll-container__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1220px;
  }
}