:root {
  --primary-color: #e3350d;
  --secondary-color: #4DAD5B;
  --text-color: #222;
  --light-color: #FFF;
  --border-color: #DDD;
  --normal-pokemon: #ACA493;
  --fighting-pokemon: #7C311B;
  --flying-pokemon: #5C72D3;
  --poison-pokemon: #914493;
  --ground-pokemon: #CDAC52;
  --rock-pokemon: #B59D52;
  --bug-pokemon: #8A980F;
  --ghost-pokemon: #5C5CAE;
  --steel-pokemon: #8D8D9F;
  --fire-pokemon: #C62000;
  --water-pokemon: #0A66C2;
  --grass-pokemon: #72C135;
  --electric-pokemon: #F9B716;
  --psychic-pokemon: #E7417A;
  --ice-pokemon: #6DD3F5;
  --dragon-pokemon: #5F4BBA;
  --dark-pokemon: #4F3A2D;
  --fairy-pokemon: #E79AE7;
  --unknown-pokemon: #162C37;
  --shadow-pokemon: #682EBE;
}
*,
*::before,
*::after { box-sizing: border-box; }
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
.main {
  margin: 1.5em;
}